:root {
    --cor-texto-light: #f0e5e5;
    --cor-texto-dark: #0f0f0f;
    --cor-fundo-light: #ebe7e7;
    --cor-fundo-dark: #2c2929;
    --cor-primaria: #0a3871;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container{
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    padding: 1em 0;
}

p {
    margin: 1em 0;
}

.page{
    background: #fff;
    color: #444;
    min-height: 100vh;
}

.dark-mode-input:checked ~ .page {
    background: #444;
    color: #fff;
}

.dark-mode-toggler{
    position: absolute;
    width: 40px;
    height: 20px;
    background: #ccc;
    border: 2px solid #bbb;
    border-radius: 20px;
    top: 10px;
    right: 60px;
    transition: all 300ms ease-in-out;
}

.dark-mode-toggler div {
    position: absolute;
    width: 12px;
    height: 12px;
    background: deeppink;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: all 300ms ease-in-out;
}

#light {
    position: absolute;
    top: -2px;
    right: 50px;
    color: deeppink;
}
#dark {
    position: absolute;
    top: -2px;
    right: -45px;
    color: deeppink;
}

.dark-mode-input:checked ~ .dark-mode-toggler {
    background: deeppink;
}

.dark-mode-input:checked ~ .dark-mode-toggler div {
    background: #ccc;
    left: 21px;
}

.dark-mode-input:checked ~ .dark-mode-toggler #light{
    color: #ccc;
}

.dark-mode-input:checked ~ .dark-mode-toggler #dark {
    color: #ccc;
}

/*
.navbar {
    background-color: var(--cor-fundo-dark);
    padding: 10px;
    color: var(--cor-texto-light);
    display: flex;
    justify-content: space-between;
  }

.navbar a {
    text-decoration: none;
    color: var(--cor-texto-light);
}

.toggle-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.toggle-label span {
    margin-right: 10px;
}

.toggle-checkbox {
    display: none;
}

.slider {
    position: relative;
    margin-right: 10px;
    width: 59px;
    height: 26px;
    background-color: var(--cor-fundo-light);
    border-radius: 15px;
}

.slider:before {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: var(--cor-fundo-dark);
    transition: transform 0.3s;
}

.slider.off:before {
    transform: translateX(0);
}

.slider.on:before {
    transform: translateX(30px);
}



body {
    transition: background-color 0.5s;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  */