* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3F5FC;
    font-family: Arial, sans-serif;
}

main {
    padding: 40px;
    height: 100vh;
    display: flex;
}

.area_de_saida {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 30%;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
}

.area_de_saida_imagem {
    max-width: 100%;
    height: auto;
    background-color: white;
}

.area_de_saida_texto {
    width: 70%;
    background-color: white;
    text-align: center; /* Centraliza o texto */
}

#logo {
    width: 120px;
    margin-bottom: 20px;
    margin-right: auto;
}

.area_principal {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 70%;
    align-items: center; /* Centraliza os itens na coluna */
    justify-content: center; /*Centraliza os itens vertical na coluna */
}

.area_principal input {
    width: 680px;
    height: auto;
    margin: 15%;
    border: none; /* Remove a borda */
    border-radius: 15px;
    font-size: 32px;
    color: #0A3871;
    text-align: center; /* Centraliza o texto do placeholder */
}

.alerta{
    display: flex;
    width: auto;
    padding-bottom: 20px;
    align-items: center;
    gap: 10px;
    color: #495057;
}

.area_principal button {
    box-sizing: border-box;
    padding: 10px;
    gap: 8px;
    width: 200px;
    cursor: pointer;
    border-radius: 24px;
    font-size: 25px;
    text-align: center;
    background: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;    
}

.area_principal button:hover {
    background: #0A3871;
    color: white;
}